.background {
  background-image: url('../../assets/images/wallpaper.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-white {
  color: white;
}
