<div class="container">
  <div class="row">
    <div class="col">
      <h3>Users</h3>
    </div>
  </div>
  <div class="card shadow p-3 mb-5 bg-white rounded">
    <div class="card-body">
      <div class="row mt-3">
        <div class="col">
          <button type="button" class="btn btn-primary" (click)="showSaveUserModal(false, null,saveUserModal)">Add User</button>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of users; index as i">
              <td class="align-middle">{{user.firstName}} {{user.lastName}}</td>
              <td class="align-middle">{{user.email}}</td>
              <td class="align-middle">{{user.phone}}</td>
              <td>
                <button type="button" class="btn btn-primary" (click)="showSaveUserModal(true, user, saveUserModal)">Edit</button>
                <button type="button" class="btn btn-danger ml-2" (click)="showDeleteUserModal(user.id, deleteUserModal)">Delete</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #saveUserModal let-modal>
  <div class="modal-header">
    <h4 *ngIf="!saveOrUpdateUser" class="modal-title">Add a new User</h4>
    <h4 *ngIf="saveOrUpdateUser" class="modal-title">Edit User</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form  [formGroup]="userForm">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="firstNameModal">First name</label>
            <input type="text"
                   [ngClass]="{'form-control': true, 'is-invalid': userForm.controls.firstName.errors && userForm.controls.firstName.touched}"
                   id="firstNameModal" placeholder="First Name" formControlName="firstName">
            <div *ngIf="userForm.controls.firstName.errors && userForm.controls.firstName.touched" class="invalid-feedback">
              <div *ngIf="userForm.controls.firstName.errors.required">
                First name is required.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="lastNameModal">Last name</label>
            <input type="text"
                   [ngClass]="{'form-control': true, 'is-invalid': userForm.controls.lastName.errors && userForm.controls.lastName.touched}"
                   id="lastNameModal" placeholder="Last Name" formControlName="lastName">
            <div *ngIf="userForm.controls.lastName.errors && userForm.controls.lastName.touched" class="invalid-feedback">
              <div *ngIf="userForm.controls.lastName.errors.required">
                Last name is required.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="emailAddressModal">Email address</label>
            <input type="email"
                   [ngClass]="{'form-control': true, 'is-invalid': userForm.controls.email.errors && userForm.controls.email.touched}"
                   id="emailAddressModal" placeholder="Email address" formControlName="email">
            <div *ngIf="userForm.controls.email.errors && userForm.controls.email.touched" class="invalid-feedback">
              <div *ngIf="userForm.controls.email.errors.required">
                Email address is required.
              </div>
              <div *ngIf="userForm.controls.email.errors.email">
                Email address is not valid.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="passwordModal">Password</label>
            <input type="password"
                   [ngClass]="{'form-control': true, 'is-invalid': userForm.controls.password.errors && userForm.controls.password.touched}"
                   id="passwordModal" placeholder="Password" formControlName="password">
            <div *ngIf="userForm.controls.password.errors && userForm.controls.password.touched" class="invalid-feedback">
              <div *ngIf="userForm.controls.password.errors.required">
                Password is required.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="phoneNumberModal">Phone number</label>
            <input type="text"
                   [ngClass]="{'form-control': true, 'is-invalid': userForm.controls.phoneNumber.errors && userForm.controls.phoneNumber.touched}"
                   id="phoneNumberModal" placeholder="Phone Number" formControlName="phoneNumber">
            <div *ngIf="userForm.controls.phoneNumber.errors && userForm.controls.phoneNumber.touched" class="invalid-feedback">
              <div *ngIf="userForm.controls.phoneNumber.errors.required">
                Phone number is required.
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
    <button type="button" class="btn btn-primary" (click)="saveUser()" [disabled]="userForm.invalid">Save</button>
  </div>
</ng-template>

<ng-template #deleteUserModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Confirm deletion</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete this user?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
    <button type="button" class="btn btn-danger" (click)="deleteUser()">Delete</button>
  </div>
</ng-template>
